.card{
    padding: 10px;
    float: center;
    margin: 70px;
    margin-left: 90px;
    width: 100%;
    display: flex;

  }

  .b{
    background-color:#2f4e72;
    float: center;
   
}
/* .
Button{
    background-color:#2f4e72;
}
a{
    background-color:#2f4e72    ;
} */