/* .homediv{
  width: 80% ;
  height: 80%;
 
} */


/*contact form*/
.form {
    background-color:  #a6bfc0;
    color: white;
    max-width: 60em;
    display:block;
    margin: 13%;
    padding: 50px;
  
 }
 

 .form-group {
   outline: none;
   border-radius: 15px;
 }
 .form-control{
   border-radius:8px;
   height:50px;
 }
 
 

 .con{
  position:relative;
 
  flex-wrap:wrap;

}

 /*portfolio*/
 .portfolio{
   position:relative;
   display: flex;
   flex-wrap:wrap;
 }

 /*contact form*/
Col{
  float:center;
}
 

/*home*/
.R{
  margin-top: 90px;
}

.p{
  text-align: center;
}
h2{
  text-align: center;
}
p{
  text-align: center;
}
.b {
  background-color:#357b7e;
  margin-left: 80px;
  
  border-radius: 5px;
  color:white;
  padding:8px;
  
}

.I{
  margin-left: 30px;
}
h4{
  text-align: center;
}
.L{
  text-align: left;
}